# Diretórios e arquivos gerados pelo build
build/
.zig-cache/

# Arquivos do CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Logs do Ninja
.ninja_log
.ninja_deps

# Configurações de IDE (opcional)
*.code-workspace
.vscode/
